@font-face{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    
}

body{
    font-family: Roboto Slab, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    margin: 0;
}

/*HEADER*/
.header {
    background-image: url('../img/background-pic.gif');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
    width: 100%;
    height: 100vh;;
}

.header::after {
    content:"";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 75%;
    max-width: 1200px;
    padding-bottom: 8%;
}

.menu-box {
    padding-top: 40px;
    padding-bottom: 0;
}

.logo {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    font-family: 'Montserrat';
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
}

.title-box {
    flex-direction: column;
    padding-top: 21%;
    padding-bottom: 21%;
}

.title {
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.main {
      font-family: 'Montserrat';
      text-transform: uppercase;
  }

.sub {
    text-transform: capitalize;
    padding-top: 30px;;
}

.button-link{
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    border: solid 2px #FFFFFF;
    padding: 20px 25px;
    align-self: center;
    margin-top: 50px;
    text-decoration: none;
}

/*MAIN*/

.services {
    flex-direction: column;
}

.section__header {
    padding-top: 85px;
}

.section__title {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.section__decoration::after {
    content:"";
    display: block;
    width: 50px;
    border-bottom: 2px solid #555555;
    margin: 30px auto 0 auto;
    opacity: 0.4;
}

.section__text {
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.services__content {
   margin-top: 60px;
}

.services__list {
    display: flex;
    padding: 0;
}

.services__item {
    list-style-type: none;
    width: 30%;
}

.services__icon {
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;
    background-position: center center;
    border:2px solid #dddddd;
    width: 48px;
    height: 48px;
    padding: 35px;
}

.services__icon_typography {
    background-image: url(../img/fa-font.svg);
    background-repeat: no-repeat;
    background-color: #c0301c;
    border: none;
    position: relative;
    border-radius: 50%;
    background-position: center center;
  width: 48px;
  height: 48px;
    padding: 35px;
}

.services__icon_code {
    background-image: url(../img/code.svg);
}

.services__icon_support {
    background-image: url(../img/support.svg);
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.services__title {
    font-family: 'Montserrat';
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.services__text {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.about-us-section {
    background-color:#f8f8f8 ;
}

.about-us {
    flex-direction: column;
}

.about-us__content {
    display: flex;
}

.about-us__text {
    font-size: 0.9rem;
    margin: 0;
}

.about-us__cards {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-box {
    width: 100%;
    height: 61%;
    overflow: hidden;
    position: relative;
}

.img-box:hover:after {
    content:"";
    background: #555555;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.block-active{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    padding:5px;
    display:none;
    padding-top: 190px;

    z-index: 999;
}

.profile__contacts {
   display: flex;
   justify-content: center;
}

.profile-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
}

.profile__contact {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
  
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;  
    color: #ffffff;
    opacity: 1;
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .profile-box:hover {
    background-color:#c0301c;
    
  }
  .profile__contact:nth-child(n+2) {
    margin-left: 1em;
  }

.profile__contact_facebook {
    background-image: url("../img/Facebook\ Logo.png");
  }
  
  .profile__contact_twitter {
    background-image: url("../img/Twitter\ Logo\ Silhouette.png");
  }
  
  .profile__contact_google {
    background-image: url("../img/Google\ Plus\ Logo.png");
  }

  .profile__contact_linkedin {
    background-image: url("../img/fa-linkedin.png");
  }
.img-box:hover .block-active{
    display:block;
}

.about-us__picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-us__name {
    font-family: 'Montserrat';
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 20px 0 15px 0;
}

.about-us__title {
    font-size: 0.8rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.latest-works {
    flex-direction: column;
    
}

.latest-works__options {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.latest-works__option {
    padding-top: 30px;
    padding-bottom: 70px;
}

.latest-works__link {
    color: #dddddd;
    text-decoration: none;
}

.latest-works__link:hover{
    color: #c0301c;
}

.latest-works__option:nth-child(n+2) {
    margin-left: 25px;
}

.latest-works__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.latest-works__img-box {
    width: 30%;
    padding-bottom: 27%;
    overflow: hidden;
}

.latest-works__img-box:nth-child(n+4) {
    margin-top: 3%;
}

.latest-works__img-box_1{
    background-image: url('../img/latestwork-1.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.latest-works__img-box_2{
    background-image: url('../img/latestwork-2.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.latest-works__img-box_3{
    background-image: url('../img/latestwork-3.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.latest-works__img-box_4{
    background-image: url('../img/latestwork-4.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.latest-works__img-box_5{
    background-image: url('../img/latestwork-5.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.latest-works__img-box_6{
    background-image: url('../img/latestwork-6.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.latest-works__img-box_7{
    background-image: url('../img/latestwork-7.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.latest-works__img-box_8{
    background-image: url('../img/latestwork-8.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.latest-works__img-box_9{
    background-image: url('../img/latestwork-9.gif');
    background-color: #c0301c 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.call-for-action {
    background-image: url('../img/background2.png');
    background-color: #c0301c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
    width: 100%;
}

.call-for-action::after{
    content:"";
    background-color: #c0301c;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.call-for-action__box{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    padding: 100px 0 100px 0;
}

.call-for-action__text {
    color: #FFFFFF;
    font-size: 1.9rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.call-for-action__text:nth-child(n+2) {
    margin-top: 30px
}

.text-decoration {
    text-transform: uppercase;
}

.blog-posts {
    flex-direction: column;
}

.blog-posts__content {
    display: flex;
    margin-top: 75px;
    justify-content: space-around;
}
.blog-post__picture {
    width: 40%;
}

.blog-post__img {
    width: 100%;
}
.blog-posts__item {
    width: 50%;
}
.blog-posts_header-box {
    display: flex;
    align-items: center;
}

.date-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 20px 22px 20px 25px;
    border: 2px solid #555555;
}

.date {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
    color:#777777;
    text-align: center;
}

.date-decoration {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
}



.blog-posts__title-box {
   margin-left: 30px;
}
.blog-posts__title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color:#777777;

    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}



.blog-posts__author {
    color:#777777;
    font-size: 0.8rem;
}

.link__decoration{
    color:#777777;
    text-decoration: none;
    
}

.blog-posts_text {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 40px;
}
.blog-posts_link {
    font-size: 0.8rem;
    color:#777777;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-posts_link {
    font-size: 0.8rem;
    color:#777777;
    text-transform: uppercase;
    text-decoration: none;
}

.hover-decoration:hover {
    color:#c0301c;
    text-decoration: none;
}

.customers-section {
    background-color:#f8f8f8 ;
    padding-top: 100px;
}

.customers {
    flex-direction: column;
    align-items: center;
}
.customers__list {
    display: flex;
    width: 75%;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 85px;
}

.customers__items {
    margin: 0;
    padding: 0;
}
.customers__items:nth-child(n+2) {
    padding-left: 5%;
}

.customers__review__list {
    display: flex;
    justify-content: center;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.customers__review-card {
    display: none;
}

.customers__review-card_active {
    display: block;
    width: 63%;
}
.customers__review-text {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
.customers__review-author {
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.slider-buttons {
    margin-top: 3.5%;
}

.slider-button {
    width: 15px;
    height: 15px;
    
    border-radius: 50%;
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

.slider-button:focus {
    background-color: #c0301c;
    border: 1px solid #c0301c;
    outline: none;
}

.contact-us {
    flex-direction: column;
}

.contact-us__content {
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.contact-form {
    width: 70%;
}

.form-box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    box-sizing: border-box;
    padding: 0 50px;
    margin-bottom: 25px;
}

.form-group {
    width: 47%;
}

.form-group_textarea {
    width:100%;
    padding: 0 50px;
}

.field {
    padding: 15px 20px;
    width: 100%;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #555555;
}

.field:focus {
    outline: none !important;
    border: 1px solid #c0301c;
}

.textarea {
    font-family: inherit;
}

.disclaimer {
    font-size: 0.75rem;
    padding-left: 40px;
}

.disclaimer_decoration {
    color: #c0301c;
}

.form-actions {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.button {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    border: solid 2px #FFFFFF;
    padding: 20px 35px;
    max-width: 180px;
    align-self: center;
    margin-top: 50px;
}

.button-submit {
    color: #555555;
    border: solid 1px #555555;
    font-size: 0.75rem;
    margin: 0;
    
    margin-left: 50px;

    align-self: center;
}

.address-title {
    font-size: 0.9rem;
    font-family: "Montserrat";
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    position: relative;
    margin: 0;
    padding: 0;
}

.address-title:nth-child(n+2) {
    margin-top: 35px;
}

.address::before {
   content: url(../img/map-icon.svg); 
   position: absolute;
   left: -20px;
}

.phone::before {
    content: url(../img/phone-icon.svg); 
    position: absolute;
    left: -20px;
 }

 .email::before {
    content: url(../img/email-icon.svg); 
    position: absolute;
    left: -20px;
 }

.address-text {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem; 
    padding-top: 20px;
}

.address-link {
    text-decoration: none;
    color: rgb(85, 85, 85);
}

.footer {
    background-color: #c0301c;
    display: flex;
    flex-direction: column;

    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section__decoration_social::after{
    border-bottom: 2px solid #fff;
    opacity: 1;
  }
  
.social-media {
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;
}

.social-media__list {
    display: flex;
    
    
    width: 35%;
    list-style: none;
    margin: 0 auto;
}

.social-media__item {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-color: #c0301c;
    
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    background-position: center center;
    border:2px solid #dddddd;
    width: 35px;
    height: 35px;
}

.social-media__item:hover {
    border:none;
}
  
  .copyrights {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .copyrights__link {
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
  }

  @media(min-width: 769px) {

    .menu-box {
        justify-content: space-evenly;
        align-items: center;
    }
    
    .logo-box{
        width: 45%;
    }
    
    .menu {
        width: 49%;
    }

    .main {
        font-size: 3rem;
    }
  
    .sub {
        font-size: 1.25rem;
    }

    .services__list {
        justify-content:space-evenly;
    }

    .about-us__content {
        justify-content: space-evenly;
    }

    .about-us__text {
        width: 47%;
        padding: 10% 0;
    }

    .about-us__cards {
        justify-content: space-evenly;
    }

    .about-us__item {
        width: 22%;
    }

}
 
  @media(max-width: 768px) {
    .menu-box {
        justify-content: space-between;
    }

      .menu__list {
          flex-direction: column;
      }

      .menu__item:nth-child(n+2) {
          margin-left: 0;
      }

      .main {
        font-size: 2rem;
    }
  
    .sub {
        font-size: 1rem;
    }

    .services__list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .services__item {
        width: 100%;
    }

    .services__item:nth-child(n+2) {
        margin-top: 10%;
    }

    .about-us__content {
        flex-direction: column;
        align-items: center;
    }

    .about-us__text {
        margin-top: 10%;
    }

    .about-us__text:nth-child(n+2) {
        width: 100%;
        margin-bottom: 10%;
    }

    .about-us__cards {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about-us__item {
        width: 48%;
    }

    .about-us__item:nth-child(n+3) {
        margin-top: 2.5%;
    }

    .latest-works__content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

  }