@font-face{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
}

body{
    font-family: Roboto Slab, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #555555;
    margin: 0;
}
.header-content {
    background-image: url('../img/background-pic.gif');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
    min-width: 100%;
    min-height: 100vh;;
  }
  
  .header-content::after{
    content:"";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

.menu-box {
    display: flex;
    padding: 45px;
    min-width: 75%;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF
}

.menu-items{
    margin: 0;
    padding: 0;
    
  }
  .menu-list-item a{
      font-family: 'Montserrat';
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
    
  }
  
  .menu-list-item {
    list-style-type: none;
    display: inline-block;
    
  }
  
  .menu-list-item:nth-child(n+2){
    margin-left: 35px;
  }

  .title-box {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      min-width: 40%;
      margin-top: 15%;
  }

  .title {
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .main {
      font-family: 'Montserrat';
      font-size: 3rem;
      text-transform: uppercase;
  }

  .sub {
    font-size: 1.25rem;
    text-transform: capitalize;
    padding-top: 30px;;
}

.title-button {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #FFFFFF;
    background: none;
    border: solid 2px #FFFFFF;
    padding: 20px 35px;
    max-width: 180px;
    align-self: center;
    margin-top: 50px;
}

.main-content {
  padding: 1px;
}
.section-title{
  font-family: 'Montserrat';
  font-size: 1.25;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.decoration::after{
  content:"";
  display: block;
  width: 50px;
  border-bottom: 2px solid #555555;
  margin: 30px auto 0 auto;
  opacity: 0.4;
}

.box {
  width: 73%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.section-content{
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.services-items {
  display: flex;
  justify-content:space-between;
  
}

.services-item {
  list-style-type: none;
  width: 30%;
  position: relative;
}

/*Don't forget to style the icons */
/*
.services-img {
  height: 35px;
  width: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  padding: 25px;
}
/*
.img_active {
  background-color: #c0301c;
  border: none;
}
*/
.services-img {
  height: 35px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  
}

.img-decoration {
  
  
}
.img-decoration::before{
  content:"";
  display: block;
  width: 85px;
  height: 85px;
  /*background-color: #c0301c;*/
  border: 2px solid #dddddd;
  border-radius: 100%;
  position: absolute;
  top: -27px;
  left: 73px;
  
}

.img-decoration_active::before{
  content:"";
  display: block;
  
  background-color: #c0301c;
  border: none;
}

.services-title {
  font-family: 'Montserrat';
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.services-content {
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  margin-top: 25px;
}